
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.canvas-container {
    display: flex;
    /*justify-content: space-between;*/
    height: 100;
}

.canvas {
    flex: 1;
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

#canvas1 {
    background-color: skyblue;
}

#canvas2 {
    background-color: black;
}

#canvas3 {
    background-color: skyblue;
}

#overlay-canvas {
    position: absolute;
    pointer-events: none;
    border: none;
    opacity: 1.0;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

footer {
    padding-top: 100px;
}
