
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    user-select: none;
}

footer {
    padding-top: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
}

#separator {
    height: 100vh;
    width: 10px;
    background-color: brown;
    /*background-image: url(textures/T_Separator.png);*/
}

/* ----- Loading screen ----- */

.loading-screen {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.loading-text {
    color: white;
    font-size: 24px;
}


/* ----- Scrollbars ----- */

.scrollable-container::-webkit-scrollbar {
    padding: 20px;
    width: 30px;
}

.scrollable-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.scrollable-container::-webkit-scrollbar-thumb {
    background-color: gray;
}

.scrollable-container::-webkit-scrollbar {
    background-color: darkgrey;
}
  
/* ----- Canvases ----- */

.canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: skyblue;
}

.canvas {
    flex: 1;
    border: 1px solid black;
}

#click-canvas {
    background-color: skyblue;
    background-image: url(textures/T_PlaceHolderBackdrop.png);
    background-size: 100% 100%;
    z-index: 2;
}

/* ----- Buttons ----- */

#button-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    background-color: black;
    /*background-image: url(textures/T_PlaceHolderBackdrop2.png);*/
    background-size: 100% 100%;
}

.shopButton {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-image: url(textures/T_Button.png);
    /*background-color: #f1f1f1;*/
    background-size: 100% 100%;
    transition: background-color 0.3s ease;
}

.shopButton:disabled {
    cursor: not-allowed;
}

.shopButton:hover {
    background-color: beige;
}


.shopButton-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
  
.shopButton-image {
    width: 64px;
    height: 64px;
    margin-right: 10px;
    margin-left: 10px;
}
  
.shopButton-nameText {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
  
.shopButton-priceText {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: forestgreen;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
  
.shopButton-amountText {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    margin-right: 20px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* ----- Hover window ----- */

.hoverWindow {
    position: absolute;
    display: none;
    align-items: center;
    padding: 10px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    width: 400px;
    pointer-events: none;
    z-index: 10;
}

.hoverWindow-content {
    height: 100%;
}

.hoverWindow-text-single {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #000000;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hoverWindow-text-all {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #000000;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hoverWindow-image {
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

/* ----- Score text ----- */

#scoreContainer {
    position: absolute;
    top: 8%;
    left: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    font-size: 30px;
    font-weight: bold;
    line-height: 20px;
    color: whitesmoke;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 10px;
}


/* ----- Event container ----- */
#eventContainer {
    display: none;
    position: absolute;
    top: 0%;
    left: 50%;
    width: 48px;
    height: 48px;
    background-color: white;
    border-radius: 15px;
    z-index: 10;
    padding: 10px;
}
