body {
    margin-left: 50px;
}

footer {
    margin-top: 50px;
}

#dice {
    margin-left: 90px;
    width: 128px;
    height: 128px;
}

#rollButton {
    height: 50px;
    width: 150px;
    background-color: green;
    color: white;
}

#holdButton {
    height: 50px;
    width: 150px;
    background-color: red;
    color: white;
}

