header {
    margin-bottom: 30px;
}

header h1 {
    display: inline;
    margin-right: 50px;
}

/* "Admin" panel */
.adminPanel {
    display: none;
}

.adminPanel button {
    background-color: #777;
    color: white;
    cursor: pointer;
    width: 150px;
    height: 40px;
    margin-left: 25px;
    border: none;
}

.adminPanel button:hover {
    background-color: #555;
}

/* Inputs */
.input-container label {
    display: inline-block;
    width: 120px;
    padding-bottom: 10px;
    color: #FFF;
}

/* Generic prompt */
.prompt-container {
    height: 100px;
}

.options-container .input-container{
    margin-bottom: 25px;
}

.answers-container .input-container {
    margin-bottom: 20px;
}

/* Create new poll prompt */
.create-prompt, .delete-prompt {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    background: #555;
    border: solid 2px black;
    z-index: 9999;
}

.create-prompt {
    height: auto;
}

.create-prompt-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    margin-left: 50px;
    width: auto;
}

.create-prompt-container label {
    color: white;
}

.create-prompt-container select {
    width: 100px;
}

.create-prompt-container input[type="text"] {
    width: 500px;
}

.create-prompt button, .delete-prompt button {
    background-color: #777;
    color: white;
    cursor: pointer;
    width: 150px;
    height: 40px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 25px;
    border: none;
}

.create-prompt button:hover, .delete-prompt button:hover {
    background-color: #888;
}

/* Delete poll prompt */

.delete-prompt {
    overflow: auto;
}

.delete-prompt-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 24px;
    color: white;
    padding-left: 25px;
    margin-top: 20px;
}

.delete-prompt-content p {
    display: inline;
    flex: 1;
    text-align: left;
}

.delete-prompt-content button {
    font-weight: bolder;
    margin-right: 10px;
    margin-top: 20px;
    width: 50px;
    background-color: red;
}

#prompt-delete-close {
    margin-left: 50px;
    margin-top: 30vh;
}

.delete-prompt-content button:hover {
    background-color: #FFF;
    color: black;
}

/* Polls */

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.poll {
    top: 0;
    left: 0;
    z-index: -1;
}

.poll .answers {
    padding: 20px 20px 10px;
}

.poll .answers .answer {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    line-height: 40px;
    margin-bottom: 10px;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}

.poll .answers .answer.selected {
    border: 2px solid #8f9fe8;
}

.poll .answers .answer span.percentage-value {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 40px;
    transform: translateY(-50%);
    color: #111;
    font-size: 15px;
}

.poll .answers .answer span.percentage-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background: #ccd8f1;
    z-index: -1;
    transition: width 300ms ease-in-out;
}

/* Validation */ 
.input-container.invalid {
    color: red;
}

small {
    display: block;
    font-size: 18px;
}